<!DOCTYPE html>
<html>
<head>
	<title>My Form</title>
</head>
<body>
	<form method="POST" action="/submit-form">
		<label for="fName">First Name</label>
		<input type="text" name="fName" id="fName" required><br><br>
		<label for="lName">Last Name</label>
		<input type="text" name="lName" id="lName" required><br><br>
		<label for="phone">Phone Number</label>
		<input type="tel" name="phone" id="phone" required><br><br>
		<label for="email">Email</label>
		<input type="email" name="email" id="email" required><br><br>
		<label for="comment">comment</label>
		<input type="text" name="comment" id="comment" required><br><br>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
