<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="POST" action="/login">
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required><br>
        <input type="password" name="password" id="password" class="form-control" placeholder="password" required><br>
        <input type="submit" class="btn btn-success" value="Увійти">
</form>
</div>
</body>
</html>